<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" type="text/css" href="{% static "backend/style.css" %}" />
  </head>
  <body>
    <div class="header">
      <h1>Deadlines Tracker</h1>
    </div>

    <form action="/login/" method="post">
      {% csrf_token %}

      <div class="container left">

      </div>
      <div class="container">
        <label for="uname"><b>Email Address</b></label>
        <input type="text" placeholder="Enter Email Address" name="uname" required />

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required />
        <p class="psw">Click <a href="/forgot/">here</a> if you forgot your password.</p>
        <p class="psw">Click <a href="/creation/">here</a> if you need to create an account.</p>

        <button class='button auth' type="submit">Log In</button>
        <!-- <label> -->
          <!-- <input type="checkbox" checked="checked" name="remember" /> Remember me -->
        <!-- </label> -->
      </div>
    </form>
  </body>
</html>
